# Virtual Environment
.venv/

# pycache
__pycache__/

# Scratch work
src/scratch.py

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Log files
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
*.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
/data/

# R files
*.Rhistory
*.RData

# exclude CSVs
*.csv

# exclude images
*.png
*.jpg
*.jpeg
*.gif
